* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

.navbar-default {
  position: relative;
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  z-index: 34567;
}

.navbar-logo {
  font-size: 2rem;
  font: 400 40px/1.5 "Pacifico", Helvetica, sans-serif !important;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
}

.navbar-toggle-group {
  font-size: 1.2rem;
  transform: translate(-300px, 10px);
  /* font-style: italic; */
  opacity: 0.7;
}

.navbar-toggle_home,
.navbar-toggle_forums,
.navbar-toggle_blogs,
.navbar-toggle_category {
  margin: 0.2rem !important;
}

.navbar-account {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  transform: translateX(10px);
}

.navbar-account-login,
.navbar-account-signup {
  margin: 0.2rem;
  opacity: 0.5;
  border: 1px solid black;
  border-radius: 18px;
  padding: 5px;
  text-align: center;
  height: 2rem;
  width: 4rem;
}

.dropdown.navbar-toggle_category {
  margin: 0;
  padding-left: 0px !important;
}

.btn.dropdown-toggle {
  color: black;
  font-size: 1.2rem;
  background-color: inherit;
  border-color: inherit;
  border: none;
  outline: none;
  padding: 0px;
  padding-bottom: 6px;
}

.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:active,
.btn.dropdown-toggle:visited,
.btn.dropdown-toggle:focus-within,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:link {
  background-color: transparent;
  border-color: transparent;
  border: none;
  outline: none;
  color: black;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
  outline: none !important;
}

.dropdown.navbar-toggle_category.show {
  background-color: transparent;
  border-color: transparent;
  border: none;
}

.container-body-base_first {
  background-image: url("../image/backgroud-base.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100% - 4.5rem - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body-base_second {
  background-image: url("../image/background-base-second.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100% - 4.5rem - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body-base_third {
  background-image: url("../image/background-base_third.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100% - 4.5rem - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-frame {
  display: block;
  background-color: rgb(0, 0, 0, 0.8);
  height: 305px;
  width: 819px;
  color: rgb(248, 249, 250);
  font-size: 48px;
  line-height: 50px;
}

.relatable-link {
  font-size: 20px;
  color: #ffffff;
  text-decoration: underline;
}

.relatable-link:hover {
  color: #ffffff;
  font-style: italic;
  font-size: 25px;
}

.read-more {
  border: 3px solid #ffffff;
  width: 150px;
  height: 50px;
  background: rgb(0, 0, 0, 0.8);
  color: rgb(248, 249, 250);
  font-size: 20px;
  outline: none;
}

.read-more:hover {
  box-shadow: 2px 2px 2px rgb(248, 249, 250);
}

.title-para {
  font-size: 40px;
  margin-bottom: 20px;
}
