/* body {
  position: relative;
  width: 1440px;
  height: 1144px;

  background: #000000;
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;
} */
* {
  font-family: "Marcellus SC", serif;
}
.navbar-brand {
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
}
#logo {
  font-family: "Pacifico", cursive;
}
.nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 21;
  line-height: 20px;
  position: center;
}
#home {
  /* float: left; */
  margin-left: 22.5rem;
}

#login {
  position: absolute;
  /* width: 147px; */
  /* height: 39px; */
  left: 700px;
}
#signup {
  position: absolute;
  left: 750px;
}
#salogan {
  width: 663px;
  height: 120px;
  left: 388px;
  top: 186px;

  font-family: Londrina Outline;
  font-style: normal;
  font-weight: normal;
  /* font-size: 50px; */
  line-height: 59px;
  text-align: center;
}
#fname {
  margin-top: 4rem;
}
.name {
  /* margin-top: 4rem; */
  width: 20%;
  margin-left: 40rem;
}

#exampleInputEmail1 {
  /* margin-top: 8rem; */
  margin-left: 40rem;
  width: 20%;
}
#exampleInputPassword1 {
  margin-left: 40rem;
  width: 20%;
}
#submit {
  margin-left: 40rem;
}
#exampleCheck1 {
  margin-left: 39rem;
}
.form-check-label {
  margin-left: 40rem;
}
.center {
  margin-left: 40rem;
}
#exampleFormControlTextarea1 {
  width: 60%;
}
#tilte {
  width: 50%;
}
